* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.country {
  display: flex;
  align-items: center;
}
.country-flag {
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.country-name {
  margin-left: 10px;
  font-weight: bold;
  font-size: large;
}

.country-name_single {
  margin-left: 10px;
  font-weight: bold;
  font-size: 30px;
}

.country_subtitle {
  font-weight: bold;
  font-size: large;
}

.subtitle_value {
  margin-left: 10px;
  font-weight: 400;
}
